*{
    padding: 0;
    margin: 0;
}
#game{
    width: 1000px;
    height: 600px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    background: white;
}

#background{
    width: 500px;
    height: 600px;
    background: url('images/pixel-art-game-background-grass-sky-clouds_210544-60.png');
    position: relative;
    /*animation: background 0.01ms infinite linear;*/
    background-repeat: repeat;
}

@keyframes background{
    0%{left:1000px}
    100%{left:-1000px}
}