*{
    padding: 0;
    margin: 0;
}
#game{
    width: 700px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    /*background-color: white;*/
    background: url('images/bg.png');
}
#block{
    width: 50px;
    height: 500px;
    /*background-color: greenyellow;*/
    background: url('images/elements.png') -192px 0;
    position: relative;
    animation: block 4s infinite linear;
}
@keyframes block{
    0%{left:700px}
    100%{left:-100px}
}
#hole{
    width: 50px;
    height: 150px;
    /*background-color: white;*/
    background: url('images/bg.png');
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 4s infinite linear;
}

#character{
    width: 34px;
    height: 26px;
    /*background-image: url("images/png-transparent-red-flappy-bird-flappy-bird-blue-t-shirt-bird-game-animals-text-thumbnail.png");*/
    background: url('images/b0.png');
    /*backgorund-size: cover;*/
    position: absolute;
    top: 100px;
    /*border-radius: 50%;*/
}