<!DOCTYPE html>
<html lang="en-US" onclick="jump()">
<head>
    <meta charset="UTF-8">
    <title>Mario</title>
    <link rel="stylesheet" href="game/mario/style.css">
</head>
<body>
<div id="game">
    <div id ="background"></div>
    <div id="hole"></div>
    <div id="character"></div>
    <div id ="coin"></div>

</div>

</body>
<script src="/game/mario/script.js"></script>
</html>